@CHARSET "UTF-8";

body {
	background-color: #607c8c;
}

.container {
	
	width: 700px;
}

.content {
	/* background-image:url("/test11/images/images_apple.jpeg"); */
  background-color: white;	
  padding: 10px;
  margin: 5px 0px;
  border-radius: 5px;
}

.form {
  background-color: white;  
  padding: 10px;
  margin: 5px 0px;
  border-radius: 5px;
}

.copyright {
	text-align: center;
	color: blue;
}

.header {
	background-color: #f4ed7c;
	height: 35px;
	padding: 2px 10px 0px 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.userinfo {
	/* border: 1px red solid; */
	float: left;
}

.userinfo img {
	width: 30px;
	height: 30px;
}

.logout {
	/* border: 1px red solid; */
	float: right;
}

.login-title{
	text-align:center;
	
}

#btnLogin{
	margin-left: 20px;
	
}

#content1{
	margin-top: 180px; !important
}

#content2{
	margin-top: 4%; 
	
}

#edit-title{
	margin-bottom: 4%; 
}

#confirm-edit{
	float: right;
	
}

#search-form{
	  position: absolute;
      margin: 0 0 0 120px;
}



























